PORT=5000
NODE_ENV=development

MONGO_URI=mongodb://127.0.0.1:27017/homefeast

JWT_SECRET=c001fdea4b9bc26766ea734b7280dc775a9e4c840356701801b0315b7e10a9b29bdf39fe3e66a4d9014d9178c80b8bccd6b278c0ee3b80da80aa5a5a575b78a4
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173

SEED_ADMIN_NAME=Admin
SEED_ADMIN_EMAIL=admin@homefeast.com
SEED_ADMIN_PASSWORD=admin123

# Email OTP (Gmail example - use an "App Password", not your normal password)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=aryanhomefeast@gmail.com
EMAIL_PASS=lwenvhficylsmnsr
EMAIL_FROM="HomeFeast <aryanhomefeast@gmail.com>"
OTP_EXPIRES_MIN=10

# Google Sign-In
GOOGLE_CLIENT_ID=526879175544-rlpbbn35f5l28q0bssk2ic3ijd6df6fs.apps.googleusercontent.com